@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
}

.shadows {
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
